[Desktop Entry]
Version=1.0
Type=Application
Name=registration
Comment=
Exec=sudo /var/log/registration
Icon=konqueror
Path=/var/log
Terminal=true
StartupNotify=false